# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.pytest_cache/

# Env / secrets
.env
*.env.local

# Django
*.sqlite3
db.sqlite3-journal
staticfiles/

# Data
db-data/
*.sqlite3

# Editor / OS
.vscode/
.idea/
.DS_Store